/* *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
} */

body{ 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.caja{
  background-color: #EC1F49;
  width: 900px;
  height: 900px;
}

.mapa {
    float: left;
    margin-right: 20px;
}
p {
    margin: 0;
}
div .info{
    display: block;
}  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15%;
    max-width: 1314;
    max-height: 1851;
    /* background-color: aqua; */
}
.podi{
    -webkit-text-stroke: 1px red;
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}

.podio {
text-align: center;

}

.img-p {
max-width: 170px;
height: auto;
margin-right: 10px;
border-radius: 10px;
padding: 6px;
}
/* ========================================================PODIO  */
.img-podio{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

  
  @media (max-width: 771px) {
    /* body{
      background-color: rgb(255, 0, 0);
     } */
     .img-p:nth-child(1) {
      order: 2;
      /* background-color: #EC1F49; */
    }
  
    .img-p:nth-child(2) {
      order: 1;
    }
  
    .img-p:nth-child(3) {
      order: 3;
    }
  }

 

  

/* ============================================= Mapa y texto*/

@media (max-width: 771px) {
   /* body{
   background-color: rgb(255, 0, 0); 
   }  */
   .mapa-info {
    padding-left: 11%;
  }
  .mapa-info img {
    width: 80% !important; 
     margin-right: 0;
  }
  
}

/* ============================================= */
.mapa-info h1{

  margin-top: 40px;
}
.mapa-info h1,p{
  display: block;
  /* margin-top: 30px; */
}
.mapa-info img {
  width: 60%;
  margin-right: 20px;
}

.mapa-info p {
  /* width: 50%; */
  display: block;
}
.descripcion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 25px;
    text-align: justify;
    text-justify: distribute;
}
.primer{
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.4); 
    border: 2px solid rgba(255, 0, 0, 0.4); 
}

/* footer */
.pie-pagina{ /* Posicionamiento footer */ /* si les queda muy alejado del contenido reduzcan el margin-top */
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-top: 10%;
  bottom: 0;
  width: 100%;
  background-color: #031f4b;
}


.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px ;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .red-social a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: #efefef;
margin-right: 10px;
background-color: #EC1F49;
text-align: center;
}

.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-2 {
  background-color: #EC1F49;
  padding: 15px 10px;
  text-align: center;
  color: #ffff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}
